<<<<<<< HEAD
.memory > .guesses {
  font-size: 1em;
  width: calc(100% - 0.4em);
  margin: 0.2em;
  text-align: right;
  font-family: Menlo, Monaco, Consolas, Inconsolata, 'Courier New', monospace;
}
=======
.memory > .guesses {
  font-size: 1em;
  width: calc(100% - 0.4em);
  margin: 0.2em;
  text-align: right;
  font-family: Menlo, Monaco, Consolas, Inconsolata, 'Courier New', monospace;
}
>>>>>>> c5d582b0e4f1cb5cbd1c2cc3f9f7ba354b21ef4b
